@import 'variables';

html,
body {
  font-size: 15px;
  height: 100%;
  margin: 0;
  color: var(--color-black);
  background-color: var(--color-white);
  // overflow-y: scroll;
}

* {
  font-family: $headings-font-family;

  .font-italic {
    font-family: $headings-font-family-italic;
  }
}

h1 {
  font-size: 1.875em;
}
