<div class="p-fluid flex">

  <div class="py-2 pr-3 w-full">
    <label> Наименование аналога </label>
    <input type="text" pInputText [(ngModel)]="selectedAnalog" (keydown.enter)="onAddAnalog()" placeholder="Необязательное поле" class="p-inputtext-sm"/>
    <span class="font-italic text-secondary pl-1 text-sm">
      Для добавления нажмите Enter
    </span>
  </div>

</div>

<ng-container>
  <p-table [value]="proposedAnalogs$ | async">
    <ng-template pTemplate="header">
      <tr *ngIf="(proposedAnalogs$ | async)?.length > 0 || newAnalogs.length > 0">
        <th width="80%"> Наименования рац. предложений </th>
        <th width="10%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-name>
      <tr>
        <td>{{ name }}</td>
        <td></td>
      </tr>
    </ng-template>
  </p-table>

  <p-table [value]="newAnalogs">
    <ng-template pTemplate="body" let-name>
      <tr>
        <td width="80%">{{ name }}</td>
        <td width="10%">
          <button type="button" class="btn btn-sm old-style" (click)="onDeleteAnalog(name)"> Удалить </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  
  <span class="font-italic text-secondary pl-1 text-sm">
    Макс. количество для новых аналогов: 5 шт.
  </span>
</ng-container>

<div>
  <div class="pt-1">
    <div class="flex justify-content-end mt-3">
      <button type="button" class="btn btn-sm old-style" (click)="onSendAnalog(true)"> Отправить </button>
      <button type="button" class="btn btn-sm old-style" (click)="onCloseModal(false)"> Отмена </button>
    </div>
  </div>
</div>

