<div class="p-fluid flex">
  <div class="container">
    <form [formGroup]="form">
      <div class="grid">
        <div class="col-12 md:col-10 lg:col-6">
          <div formGroupName="author_info"> 
            <div class="py-2 pr-3 w-10">
              <label class="pl-1"> * ФИО </label>
              <input type="text" pInputText formControlName="fio" class="p-inputtext-sm" placeholder="Не должно быть пустым"/>
            </div>
    
            <div class="py-2 pr-3 w-10">
              <label class="pl-1"> * Подразделение </label>
              <input type="text" pInputText formControlName="dept" class="p-inputtext-sm" placeholder="Не должно быть пустым"/>
            </div>
      
            <div class="py-2 pr-3 w-10">
              <label class="pl-1"> * Рабочий телефон </label>
              <p-inputMask class="p-inputtext-sm" formControlName="phone" mask="99-99" placeholder="Не должно быть пустым"></p-inputMask>
            </div>
          </div>

          <div class="py-2 pr-3 w-10">
            <label class="pl-1"> Дата подачи предложения </label>
            <input type="text" pInputText formControlName="creation_datetime" class="p-inputtext-sm" placeholder="Не должно быть пустым"/>
          </div>
    
          <div class="py-2 pr-3 w-10">
            <label class="pl-1 w-9"> Авторский состав </label>
            <p-autoComplete
              [suggestions]="employees$ | async"
              (completeMethod)="searchEmployee($event)"
              field="fio"
              formControlName="coauthor_info"
              [minLength]="1"
              [forceSelection]="true"
              [showEmptyMessage]="true"
              appendTo="body"
              placeholder="Введите ФИО или таб.номер"
              [multiple]="true"
            >
              <ng-template let-employee pTemplate="item">
                <span class="ml-3">{{ employee.fio }}</span>
                <span> (отд. {{ employee.dept }}) </span>
              </ng-template>
            </p-autoComplete>

            <span class="font-italic text-secondary text-sm">
              Не более 10 соавторов
            </span>
          </div>
  
          <div class="py-2 pr-3 w-10">
            <label> * Направление рац. предложения </label>
            <p-dropdown [options]="trends" formControlName="trend_id" optionLabel="name" optionValue="id" (onChange)="onChangeTrend($event)"></p-dropdown>
          </div>
    
          <div class="py-2 pr-3 w-10">
            <label> * Серийное производство </label>
            <p-dropdown [options]="serials" formControlName="serial" optionLabel="name" optionValue="value"></p-dropdown>
          </div>

          <div class="py-2 pr-3 w-10">
            <span *ngIf="form.value.trend_id == 1"> * </span>
            <label> Профильное подразделение </label>
            <p-multiSelect 
              #multiSelector
              [options]="depts"
              formControlName="profile_depts"
              optionLabel="dept"
              optionValue="dept"
              display="chip"
              defaultLabel="Выберите подразделение"
              emptyFilterMessage="Не найдено"
              emptyMessage="Нет данных"
              [selectionLimit]="5"
              [filter]="true"
              [panelStyle]="{'width':'500px'}"
              [virtualScrollItemSize]="40"
              [virtualScroll]="true"
              defaultLabel="Нажмите для выбора"
              appendTo="body"
            >
              <ng-template let-division pTemplate="item">
                <div>
                  <!-- <p-chip [label]="division.dept"></p-chip> -->
                  <span> {{ division.dept }} </span>
                </div>
              </ng-template>
              
            </p-multiSelect>
            <span class="font-italic text-secondary pl-1 text-sm">
              Макс. количество: 5 шт.
            </span>
          </div>

        </div>

        <div class="col-12 md:col-10 lg:col-6">

          <div class="py-2 pr-3 w-10">
            <label class="pl-1"> * Название рац. предложения </label>
            <textarea 
              formControlName="name" 
              [rows]="3" 
              pInputTextarea 
              placeholder="Не должно быть пустым"
            ></textarea>

            <div class="p-error text-sm pl-1" *ngIf="form.controls['name']?.invalid && (form.controls['name']?.dirty || form.controls['name']?.touched)">
              <span *ngIf="form.controls['name']?.errors?.['maxlength']">
                Название должно содержать не более {{form.controls['name'].errors?.['maxlength'].requiredLength }} символов.
                Сейчас длина равна {{ form.controls['name'].errors?.['maxlength'].actualLength }} символа
              </span>
            </div>
            
          </div>

          <div class="py-2 pr-3 w-10">
            <label class="pl-1"> * Ключевые слова </label>
            <p-chips
              formControlName="tags"
              [max]="5"
              [allowDuplicate]="false"
              placeholder="Не должно быть пустым"
              (onAdd)="onAddNewTag($event)"
            ></p-chips>
            <span class="font-italic text-secondary pl-1 text-sm">
              Для разделения нажмите Enter
            </span>
          </div>

          <div class="py-2 pr-3 w-10">
            <label class="pl-1"> * Аннотация </label>
            <textarea 
              formControlName="annotation" 
              [rows]="9"
              pInputTextarea 
              placeholder="Краткое содержание"
            ></textarea>

            <div class="p-error text-sm pl-1" *ngIf="form.controls['annotation']?.invalid && (form.controls['annotation']?.dirty || form.controls['annotation']?.touched)">
              <span *ngIf="form.controls['annotation']?.errors?.['maxlength']">
                Аннотация должна содержать не более {{ form.controls['annotation'].errors?.['maxlength'].requiredLength }} символов.
                Сейчас длина равна {{ form.controls['annotation'].errors?.['maxlength'].actualLength }} символа
              </span>

              <span *ngIf="form.controls['annotation']?.errors?.['required']">
                Не должно быть пустым
              </span>
            </div>
          </div>

          <div class="py-2 pr-3 w-10 ui-fileupload-override">
            <label class="pl-1"> Информационный материал </label>
            <p-fileUpload 
              #fileUpload
              [customUpload]="true" 
              [multiple]="true"
              [maxFileSize]="maxSize"
              invalidFileSizeMessageSummary="{0}: Превышен допустимый размер файла"
              invalidFileSizeMessageDetail="Файл не должен превышать {0}"
              [showUploadButton]="false"
              [showCancelButton]="false"
              [fileLimit]="10"
              invalidFileLimitMessageDetail="Количество файлов не должен превышать {0} шт."
              invalidFileLimitMessageSummary="Превышено максимальное количество файлов"
              (uploadHandler)="uploadFile($event)"
              name="file[]"
            >
              <ng-template pTemplate="content" let-files>
                <span class="font-italic text-secondary pl-1 text-sm">
                  Макс. размер 1 файла: 20 Мб;
                  Макс. количество: 10 шт.
                </span>
              </ng-template>

            </p-fileUpload>
          </div>

        </div>
      </div>

      <p-divider></p-divider>

      <div class="flex justify-content-between flex-wrap card-container">
          <div class="flex align-items-center justify-content-center border-round">
            <label>* Обязательное поле для заполнения </label>
          </div>
          <div class="flex align-items-center justify-content-center border-round">
            <button type="button" class="btn btn-sm old-style" (click)="onOpenAnalogs()"> Отправить </button>
          </div>
      </div>

    </form>
  </div>
</div>